/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(205, 236, 224), rgba(212, 212, 212, 0.9));
  font-family: "Lato", sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.3em;
  color: #1f3129;
  text-shadow: #1f3129 1px 1px 3px;
}

a {
  color: #356852;
  text-decoration: none;
  transition: color 0.6s;
  font-weight: bold;
  text-shadow: #1f3129 1px 1px;
}
a:hover {
  color: #1f3129;
}

/* ### */

/* header section styling */
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px #2b5744 solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  background: #40916f;
  color: #2b5744;
  box-shadow: 3px 3px 10px #2b5744;
}
.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgb(143, 177, 166), rgb(211, 238, 227));
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}

nav li {
  padding-bottom: 5px;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

/* ### */

/* main-sectionv styling */

.main-container {
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  height: 200px;
}

#hero > h1 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type="email"] {
  max-width: 345px;
  max-height: 40px;
  width: 100%;
  padding: 5px;
}

#hero input[type="submit"] {
  max-width: 180px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  color: azure;
  background-color: #40916f;
  box-shadow: 3px 3px 10px #2b5744;
}

@media (max-width) {
  #hero {
    margin-top: 120px;
  }
}
/* submit btn color */
#hero input[type="submit"]:hover {
  color: #2b5744;
  font-weight: bold;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    background: #40916f;
  }
  35%,
  65% {
    background: azure;
  }
  100% {
    background: #40916f;
  }
}
/* # */

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 30vw;
  color: #2b5744;
  text-shadow: 2px 2px 5px;
}

@media (max-width: 600px) {
  #features .icon {
    display: none;
  }
}
#battery {
  font-size: 30px;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 70vw;
  padding: 5px;
}

.label {
  font-weight: bold;
  text-shadow: #1f3129 1px 1px 1px;
  font-size: 1.2em;
  color: #1f3129;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}
/* ## */

/* how it works section  */
#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 650px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100 / 3);
  margin: 10px;
  border: 1px solid black;
}

fieldset > label {
  background: #74c0a0;
  color: #000;
  padding: 15px 0;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

fieldset > h1 {
  margin-top: 15px;
}

fieldset > ul {
  margin: 15px 0;
  font-size: 1em;
}

fieldset > ul > li {
  padding: 5px 8px;
}

fieldset > button {
  border: 0;
  margin: 15px 0;
}

fieldset > button:hover {
  color: #2b5744;
  font-weight: bold;
  animation: color-change 2s infinite;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
}

fieldset {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  background: linear-gradient(rgb(184, 184, 184), rgba(212, 212, 212, 0.9));
  padding: 10px 10px 10px 15px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > p {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
